/* Color Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Color Palette */
:root {
  --palette-primary: #409C94;
  --palette-primary-background-light: #ecfff6;
  --palette-secondary-background-light: #d3ffea;
  --palette-primary-background-dark: #1a231f;
  --palette-secondary-background-dark: #5c7b6d;
  --palette-secondary: #409C94;
  --palette-secondary-dark: #4fd1c6;
}

/* 
The below colors are analogous to the Apple system palette:
https://noahgilmore.com/blog/dark-mode-uicolor-compatibility/ 
*/

@media (prefers-color-scheme: light) {
  :root {
    --label: rgba(0.0, 0.0, 0.0, 1.0);
    --secondary-label: rgba(60.0, 60.0, 67.0, 0.6);
    --tertiary-label: rgba(60.0, 60.0, 67.0, 0.3);
    --system-fill: rgba(120.0, 120.0, 128.0, 0.2);
    --secondary-system-fill: rgba(120.0, 120.0, 128.0, 0.16);
    --tertiary-system-fill: rgba(118.0, 118.0, 128.0, 0.12);
    --quaternary-system-fill: rgba(116.0, 116.0, 128.0, 0.08);
    --system-background: rgba(255.0, 255.0, 255.0, 1.0);
    --secondary-system-background: rgba(242.0, 242.0, 247.0, 1.0);
    --tertiary-system-background: rgba(255.0, 255.0, 255.0, 1.0);
    --system-grouped-background: rgba(242.0, 242.0, 247.0, 1.0);
    --secondary-system-grouped-background: rgba(255.0, 255.0, 255.0, 1.0);
    --tertiary-system-grouped-background: rgba(242.0, 242.0, 247.0, 1.0);

    --custom-divider-color: var(--palette-secondary);
    --custom-link-color: var(--palette-secondary);
    --custom-background: var(--palette-primary-background-light);
    --custom-secondary-background: var(--palette-secondary-background-light);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --label: rgba(255.0, 255.0, 255.0, 1.0);
    --secondary-label: rgba(235.0, 235.0, 245.0, 0.6);
    --tertiary-label: rgba(235.0, 235.0, 245.0, 0.3);
    --system-fill: rgba(120.0, 120.0, 128.0, 0.36);
    --secondary-system-fill: rgba(120.0, 120.0, 128.0, 0.32);
    --tertiary-system-fill: rgba(118.0, 118.0, 128.0, 0.24);
    --quaternary-system-fill: rgba(118.0, 118.0, 128.0, 0.18);
    --system-background: rgba(0.0, 0.0, 0.0, 1.0);
    --secondary-system-background: rgba(28.0, 28.0, 30.0, 1.0);
    --tertiary-system-background: rgba(44.0, 44.0, 46.0, 1.0);
    --system-grouped-background: rgba(0.0, 0.0, 0.0, 1.0);
    --secondary-system-grouped-background: rgba(28.0, 28.0, 30.0, 1.0);
    --tertiary-system-grouped-background: rgba(44.0, 44.0, 46.0, 1.0);

    --custom-divider-color: var(--palette-secondary-dark);
    --custom-link-color: var(--palette-secondary-dark);
    --custom-background: var(--palette-primary-background-dark);
    --custom-secondary-background: var(--palette-secondary-background-dark);
  }

  /* Invert the footer Deadpan logo color in dark mode. */
  .deadpan-logo {
    filter: invert(100%);
  }
}

/* Color Assignment */
:root {
  --divider-color: var(--custom-divider-color);
  --link-unvisited-color: var(--custom-link-color);
  --link-visited-color: var(--custom-link-color);

  --body-background-color: var(--custom-background);
  --header-background-color: var(--custom-background);
  --hero-background-color: var(--custom-background);
  --tagline-background-color: var(--custom-background);
  --app-store-badge-background-color: var(--custom-background);
  --app-store-badge-lozenge-color: var(--custom-background);
  --features-background-color: var(--custom-secondary-background);
  --privacy-background-color: var(--custom-background);
  --presskit-background-color: var(--custom-background);
  --footer-background-color: var(--custom-secondary-background);
}

/* Normalized Components
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html, body {
  /* `overflow-x: hidden;` is required to achieve different section colors that go beyond the section max width size. 
  Without this selector, the website will scroll horizontally. */
  overflow-x: hidden;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background: var(--custom-background);
}

body {
  margin: 0;
  width: 100%;
}

h1, h2, h3, h4 {
  margin-top: 0;
  color: var(--label);
}

h1 {
  font-size: 2.5rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
  margin-bottom: 0;
  font-size: 1.25rem;
  color: var(--label);
}

li {
  line-height: 1.5;
  font-size: 1.25rem;
  color: var(--label);
}

a:link, a:hover, a:active {
  color: var(--link-unvisited-color);
  text-decoration: none;
}

a:visited {
  color: var(--link-visited-color);
  text-decoration: none;
}

/* Section, row, column system
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
  margin: 0 auto;
  max-width: 1000px;
  position: relative; /* Required for background color full width. */
  padding: 4rem 2rem;
}

.row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.25rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* `.row::before` and `.row::after` is required to set a unique background color for left and right sides
of the section. Override `.row::before` and `.row::after` achieve the background color you need on a per section basis. */
.row::before, .row::after {
  background: red;
  bottom: 0;
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 9600px;
}

.row::after {
  background: green;
  left: 100%;
}

.full-span-column {
  flex: 1 1 auto;
}

.half-span-column {
  flex: 0 1 47%;
}

.third-span-column {
  flex: 0 1 30%;
}

.quarter-span-column {
  flex: 0 1 22%;
}

/* Apply this selector to an `<img>` that is wrapped in a `.content` block to achieve a centered image. */
.centered-image {
  display: block;
  height: auto;
  margin: auto;
}

/* Header section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header, .header > .row::before, .header > .row::after {
  background: var(--header-background-color);
  padding: 4rem 2rem 2rem 2rem;
}

.header-wordmark-column {
  flex: 1;
}

.header-app-store-badge-column {
  margin-left: auto;
}

.wordmark {
  width: auto;
  height: 3rem;
}

/* Hero Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hero {
  padding: 0;
}

.hero, .hero > .row::before, .hero > .row::after {
  background: var(--hero-background-color);
}

.hero img {
  max-width: 100%;
  z-index: 100;
  position: relative;
}

/* Tagline Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.tagline {
  text-align: center;
}

.tagline, .tagline > .row::before, .tagline > .row::after {
  background: var(--tagline-background-color);
}

/* App Store Badge Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.app-store-badge {
  text-align: center;
}

.app-store-badge, .app-store-badge > .row::before, .app-store-badge > .row::after {
  background: var(--app-store-badge-background-color);
}

.download-now-lozenge {
  background: var(--app-store-badge-lozenge-color);
  border-radius: 1rem;
  margin: -3rem 0rem;
  padding: 3rem 1rem;
}

.app-store-badge img {
  height: 5rem;
  width: auto;
}

/* Hill Divider Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.hill-divider {
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  overflow: hidden;
  line-height: 0;
}

.hill-divider svg {
  display: block;
  width: 100%;
  height: 100%;
}

.hill-divider path {
  /* Customize the hill color to match your theme */
  fill: var(--custom-secondary-background);
}

/* Features Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.features {
}

.features > .row {
  align-items: baseline;
}

.features, .features > .row::before, .features > .row::after {
  background: var(--features-background-color);
}

.features > .row > .full-span-column > h2 {
  text-align: center;
}

.features h2 {
  margin-bottom: 3rem;
}

.features span {
  display: inline-block;
}

.features span::after {
  content: '';
  height: 5px;
  background: var(--divider-color);
  border-radius: 2.5px;
  display: block;
  margin-top: 6px;
}

.features h3 {
  display: inline;
  margin-left: 0.5rem;
  vertical-align: middle;

}

.features img {
  width: 2rem;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.feature {
  text-align: center;
}

/* 
Colors filters generated using the following website:
https://isotropic.co/tool/hex-color-to-css-filter/ 
*/

.features .doc-scan {
  filter: invert(55%) sepia(75%) saturate(1700%) hue-rotate(324deg) brightness(95%) contrast(126%);
}

.features .text-selection {
  filter: invert(55%) sepia(75%) saturate(1700%) hue-rotate(324deg) brightness(95%) contrast(126%);
}

.features .template {
  filter: invert(55%) sepia(75%) saturate(1700%) hue-rotate(324deg) brightness(95%) contrast(126%);
}

.features .sparkle {
  filter: invert(55%) sepia(75%) saturate(1700%) hue-rotate(324deg) brightness(95%) contrast(126%);
}


/* Privacy Policy Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.privacy {
}

.privacy, .privacy > .row::before, .privacy > .row::after {
  background: var(--privacy-background-color);
}

.privacy p {
  margin-bottom: 2.5rem;
}

/* Press Kit Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.presskit {
}

.presskit, .presskit > .row::before, .presskit > .row::after {
  background: var(--presskit-background-color);
}

.presskit > .row:nth-child(2n) {
  margin-top: 2.5rem;
}

.presskit h3 {
  margin-bottom: 0.5rem;
}

.presskit p {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.presskit ul {
  margin-bottom: 2.5rem;
}

.presskit .half-span-column img {
  max-width: 100%;
}

.presskit .quarter-span-column img {
  max-width: 100%;
}

/* Footer Section
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  text-align: center;
}

.footer, .footer > .row::before, .footer > .row::after {
  background: var(--footer-background-color);
}

.footer img {
  width: 4rem;
  height: 4rem;
}

.footer > .row {
  flex-wrap: wrap-reverse;
}

.footer .third-span-column:first-of-type p {
  font-size: 1rem;
  line-height: 1;
}

/* Media Query Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Large View Port */
/* Includes all iPhones taller than iPhone 8 in horizontal mode.
Also includes base model iPad in vertical orientation. */
@media only screen and (max-width: 960px) {

  /* Decrease the relative font size to 14px. */
  html {
    font-size: 87.5%;
  }
}

/* Medium View Port */
@media only screen and (max-width: 720px) {

  /* Change to a full width column layout for all half span column elements. */
  .half-span-column {
    flex: 0 1 100%;
  }

    /* Change to a full width column layout for all third span column elements. */
  .third-span-column {
    flex: 0 1 100%;
  }

  .quarter-span-column {
    flex: 0 1 100%;
  }

  /* Center the Ephemera logo in the header. */
  .header {
    text-align: center;
  }

  /* Remove the App Store badge in the header. */
  .header-app-store-badge-column {
    display: none;
  }

  .row {
    padding-left: 0;
    padding-right: 0;
  }

  .hero > .row > .full-span-column {
    padding: 3rem;
  }
}

/* Small View Port */
@media only screen and (max-width: 540px) {
  .header {
    padding-bottom: 1rem;
  }

  .hero > .row > .full-span-column {
    padding: 1.5rem;
  }

  .tagline {
    padding-top: 1rem;
  }
  
  .app-store-badge {
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
}

